body { 
	position: relative;
	padding-top: 70px;
}
.avatar {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

@media (min-width: 767px) { 
	#navigation{
		position: fixed;
	}
}

.CodeMirror {
	height: auto;
}