<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Demo Boxes scroll App</title>
	</head>
	<body ng-controller="AppController as ctrl">
		<ng-include src="'../navbar.html'"></ng-include>
		<div class="container-fluid">
			<div class="page-header">
				<h2>boxes-scroll Demo</h2>
				<a href="https://www.npmjs.com/package/boxes-scroll"><img src="https://badge.fury.io/js/boxes-scroll.svg" alt="npm version" height="18"></a>
				<a href="https://travis-ci.org/hhdevelopment/boxes-scroll"><img src="https://travis-ci.org/hhdevelopment/boxes-scroll.svg?branch=master" alt="build status" height="18"></a>
				
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="cat in ctrl.categories" 
							ng-click="ctrl.selectCategory(cat)"
							ng-class="{active:ctrl.selectedCategory === cat}">
							<span class="glyphicon glyphicon-folder-close" ng-class="{'glyphicon-folder-open':ctrl.selectedCategory === cat}"></span>&nbsp;&nbsp;
							<span ng-bind="cat.name"></span>
							<span class="badge" ng-bind="cat.nb"></span>
						</a>
					</div>			
				</div>
				<div class="col-xs-9">
					<div class="form-group">
						<box-hscroll  show-info-delay="2000" total="ctrl.items.length" ng-begin="begin2" ng-limit="limit2"
										  style="border:solid 1px black;height: 57px;">
							<a role="button" ng-repeat="item in ctrl.items| limitTo:limit2:begin2" class="alert alert-info" 
								ng-click="ctrl.search(item.lastname)"
								style="display: table-cell">
								<span style="display: table-cell" class="glyphicon glyphicon-user"></span>
								<span style="display: table-cell" ng-bind="item.lastname"></span>
							</a>
						</box-hscroll>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-2">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
									<input type="number" class="form-control" ng-model="ctrl.height">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-search"></span>
									</span>
									<input type="text" class="form-control" placeholder="Search" ng-model="ctrl.key" ng-keyup="ctrl.search(ctrl.key)">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="ctrl.search(null);">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
										<span class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
													  ng-keydown="begin1 = begin1 + ctrl.keydown($event, limit1)"
													  title="popup with max = 7"
													  aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right" box-vscroll show-info-delay="2000"  allow-keynav="true"
												 total="ctrl.items.length" ng-begin="begin1" ng-limit="limit1" max="7">
												<li ng-repeat="item in ctrl.items| limitTo:limit1:begin1" ng-click="ctrl.search(item.lastname)">
													<a href>
														<span class="glyphicon glyphicon-user"></span>
														<span ng-bind="item.lastname"></span>
													</a>
												</li>
											</ul>
										</span>
									</span>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="input-group" title="Try without the directive with 2000 or 10000 elements">
									<span class="input-group-addon">
										<input type="checkbox" ng-model="withoutDirective" ng-change="ctrl.switchMode();">
									</span>
									<input type="text" class="form-control" placeholder="Native scroll for table" readonly="">
								</div>
							</div>
							<div class="col-xs-3">
								<button class="btn btn-default" type="button" ng-click="ctrl.countWatchers();">
									<span class="glyphicon glyphicon-eye-open"></span>
									Watchers <span class="badge" ng-bind="ctrl.nbWatchers"></span>
								</button>
							</div>
						</div>
					</div>
					<div  ng-if="!withoutDirective">
						<box-vscroll show-info-delay="2000" total="ctrl.filteredItems.length" allow-keynav="true"
										 ng-begin="begin3" ng-limit="limit3" ng-style="{'height':ctrl.height+'px'}"
										 style="border:solid 1px black;">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Lastname</th>
										<th>Firstname</th>
										<th>Company</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in ctrl.filteredItems|limitTo:limit3:begin3">
										<td><span class="glyphicon glyphicon-user"></span></td>
										<td ng-bind="item.lastname"></td>
										<td ng-bind="item.firstname"></td>
										<td ng-bind="item.company"></td>
										<td ng-bind="item.email"></td>
										<td><span class="glyphicon glyphicon-phone"></span><span ng-bind="item.phone"></span></td>
									</tr>
								</tbody>
							</table>
						</box-vscroll>
						<nav class="pull-right">
							<ul class="pagination">
								<li class="disabled">
									<a href>
										<span>Pilot scrolling : </span>
									</a>
								</li>
								<li ng-click="begin3 = begin3 - (limit3 - 1);">
									<a href>
										<span class="glyphicon glyphicon-backward"></span>
									</a>
								</li>
								<li ng-click="begin3 = begin3 - 1;">
									<a href>
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
								<li class="disabled">
									<a href>
										<span ng-bind="begin3 + 1"></span>
									</a>
								</li>
								<li ng-click="begin3 = begin3 + 1;">
									<a href>
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
								<li ng-click="begin3 = begin3 + (limit3 - 1);">
									<a href>
										<span class="glyphicon glyphicon-forward"></span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div  ng-if="withoutDirective">
						<div style="height: {{ctrl.height}}px; border:solid 1px black;overflow-y: scroll">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Lastname</th>
										<th>Firstname</th>
										<th>Company</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in ctrl.filteredItems">
										<td><span class="glyphicon glyphicon-user"></span></td>
										<td ng-bind="item.lastname"></td>
										<td ng-bind="item.firstname"></td>
										<td ng-bind="item.company"></td>
										<td ng-bind="item.email"></td>
										<td><span class="glyphicon glyphicon-phone"></span><span ng-bind="item.phone"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

