<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Demo Boxes scroll App</title>
	</head>
	<body ng-controller="AppCtrl as ctrl">
		<div class="container-fluid">
			<div class="page-header">
				<h1>boxes-scroll Demo</h1>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="cat in ctrl.categories| limitTo:limit0:begin0" 
							ng-click="ctrl.selectCategory(cat)"
							ng-class="{active:ctrl.selectedCategory === cat}">
							<span class="glyphicon glyphicon-folder-close" ng-class="{'glyphicon-folder-open':ctrl.selectedCategory === cat}"></span>&nbsp;&nbsp;
							<span ng-bind="cat.name"></span>
							<span class="badge" ng-bind="cat.nb"></span>
						</a>
					</div>			
					<div class="form-group">
						<div class="btn-group">
							<button type="button" class="btn">By names ({{limit1}} max)</button>
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" 
									  ng-keydown="begin1 = begin1 + ctrl.keydown($event, limit1)"
									  aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" box-vscroll show-info-delay="2000"  allow-keynav="true"
								 total="ctrl.items.length" ng-begin="begin1" ng-limit="limit1" max="8">
								<li ng-repeat="item in ctrl.items| limitTo:limit1:begin1">
									<a href ng-bind="item.lastname"></a>
								</li>
							</ul>
						</div>
					</div>
					<box-hscroll  show-info-delay="2000" total="ctrl.items.length" 
									  ng-begin="begin2" ng-limit="limit2" size="300" tag-items="div"
									  style="border:solid 1px black;height: 72px;padding-top: 16px">
						<div ng-repeat="item in ctrl.items| limitTo:limit2:begin2" class="alert alert-info" style="display: initial">
							<span class="glyphicon glyphicon-user"></span>
							<span ng-bind="item.lastname"></span>
						</div>
					</box-hscroll>
				</div>
				<div class="col-xs-9">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
									<input type="number" class="form-control" ng-model="ctrl.height">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
									<input type="text" class="form-control" placeholder="Search" ng-model="ctrl.search">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="ctrl.clearSearch();">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" ng-model="withoutDirective">
									</span>
									<input type="text" class="form-control" placeholder="Try without directive" readonly="">
								</div>
							</div>
						</div>
					</div>

					<div  ng-if="!withoutDirective">
						<box-vscroll show-info-delay="2000" total="filteredItems.length" allow-keynav="true"
										 ng-begin="begin3" ng-limit="limit3"
										 style="height: {{ctrl.height}}px; border:solid 1px black;">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Lastname</th>
										<th>Firstname</th>
										<th>Company</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in filteredItems = (ctrl.items| filter:ctrl.search) |limitTo:limit3:begin3">
										<td><span class="glyphicon glyphicon-user"></span></td>
										<td ng-bind="item.lastname"></td>
										<td ng-bind="item.firstname"></td>
										<td ng-bind="item.company"></td>
										<td ng-bind="item.email"></td>
										<td><span class="glyphicon glyphicon-phone"></span><span ng-bind="item.phone"></span></td>
									</tr>
								</tbody>
							</table>
						</box-vscroll>
						<nav class="pull-right">
							<ul class="pagination">
								<li ng-click="begin3 = begin3 - 1;">
									<a href>
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
								<li>
									<a href>
										<span ng-bind="begin3 + 1"></span>
									</a>
								</li>
								<li ng-click="begin3 = begin3 + 1;">
									<a href>
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div  ng-if="withoutDirective">
						<div style="height: {{ctrl.height}}px; border:solid 1px black;overflow-y: scroll">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Lastname</th>
										<th>Firstname</th>
										<th>Company</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in filteredItems = (ctrl.items| filter:ctrl.search)">
										<td><span class="glyphicon glyphicon-user"></span></td>
										<td ng-bind="item.lastname"></td>
										<td ng-bind="item.firstname"></td>
										<td ng-bind="item.company"></td>
										<td ng-bind="item.email"></td>
										<td><span class="glyphicon glyphicon-phone"></span><span ng-bind="item.phone"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

